.container-fluid {
    margin: 0%;
    padding: 0% 30%;
    background-color: lightgrey;
    background-clip: content-box;
}

h1 {
margin: 0px;
width: 100%;
text-align: center;
font-style: italic;
font-size: calc(2vw + 2vh + 2vmin);;
font-weight: bolder;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(67, 19, 19);
    /* color: black; */
}