<div class="password-reset-form">
  <div class="card">
    <div class="card-header">Password Reset</div>
    <div class="card-body">
      <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
        <div>
          <div class="form-group">
            <label>User Id : </label>
            <input type="text" class="form-control" formControlName="userId" />
            <div>
              <span
                class="alert alert-danger"
                *ngIf="
                  this.passwordResetForm.get('userId').invalid &&
                  this.passwordResetForm.get('userId').touched
                "
                >Please enter user id</span
              >
            </div>
          </div>

          <div class="form-group">
            <label> New Password : </label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
            <div>
              <span
                class="alert alert-danger"
                *ngIf="
                  this.passwordResetForm.get('password').invalid &&
                  this.passwordResetForm.get('password').touched
                "
                >Password should be minimum 8 and maximum 16 characters
                long</span
              >
            </div>
          </div>
          <br />
          <div class="form-group text-center">
            <button class="btn btn-primary" [routerLink]="['/']">Login</button
            >&nbsp;
            <button
              class="btn btn-primary"
              [disabled]="passwordResetForm.invalid"
            >
              Password Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
