<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Search Food Items</div>
        <div class="card-body">
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div>
              <div class="form-group">
                <label for="foodCategory"
                  >Please Enter Food Category
                  <span class="text-muted"
                    >(Ex.
                    Burger,Noodles,Pancakes,Pasta,Pizza,Salad,Sandwich,Soup)</span
                  >
                </label>
                <input
                  type="text"
                  name="foodCategory"
                  id="foodCategory"
                  class="form-control"
                  formControlName="foodCategory"
                />
                <br />
                <div>
                  <span
                    class="alert alert-danger"
                    *ngIf="
                      this.searchForm.get('foodCategory').invalid &&
                      this.searchForm.get('foodCategory').touched
                    "
                    >Please enter Food Category</span
                  >
                </div>
              </div>
              <div class="form-group text-center">
                <button 
                class="btn btn-success"
                [disabled]="searchForm.invalid">
                  Find Food for me
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
